.iconsall{ 
    display :flex;
    flex-direction: row;
    width:fit-content;
    align-items: left;
    align-content: left;
    justify-content:space-evenly;
    padding-left:5px;
    gap:10px;
    opacity: .5;
    cursor: pointer;
}
.moremenu{
    display: flex;
    flex-direction: column-reverse;
}


.color-pallate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3px;

    width: 500px;
}

.clor-button{
    border-radius: 50%;
   
}
 .iconedit{
   
 }

// .iconedit{
//     padding-right: 50px;
// }
// @media screen and (max-width: 1100px) {
//   .iconedit {
  
//     padding-right: 40px;
//   }
// }
// @media screen and (max-width: 900px) {
//     .iconedit {
    
//       padding-right: 30px;
//     }
//   }
// @media screen and (max-width: 600px) {
//     .iconedit {
      
//       padding-right: 20px;
//     }
//   }
//   @media screen and (max-width: 400px) {
//     .iconedit {
      
//       padding-right: 10px;
//     }
//   }
//   @media screen and (max-width: 200px) {
//     .iconedit {
      
//       padding-right: 7px;
//     }
//   }
 