<div class="iconsall"   >
<div class="iconedit">
  <img src="../../../assets/image/remainder.svg" alt="remainder"  >
    
</div>
<div class="iconedit">
  <img src="../../../assets/image/collaborator.svg"    alt=" " >
   
</div>
<div  class="iconedit">
  <img src="../../../assets/image/colorpallate.svg"  [matMenuTriggerFor]="menu" #menuTrigger  alt=" " (click)="colorpallate()"  >


</div>
<div class="iconedit">
  <img src="../../../assets/image/addImage.svg"  alt=" "  >
    
</div>
<div class="iconedit">
  <img src="../../../assets/image/archive.svg"   alt=" " (click)="Archive()">
    
</div>
<div class="iconedit">
  <img src="../../../assets/image/unarchive.svg"   alt=" "  (click)="unArchive()">
   
</div>



  <div class="iconedit">
    <img src="../../../assets/image/more.svg"    alt="" [matMenuTriggerFor]="more" #menuTrigger >
    
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
     
      <rect width="24" height="24" fill="none"/>
    
    
      <circle cx="12" cy="7" r="2" fill="black"/>
      <circle cx="12" cy="12" r="2" fill="black"/>
      <circle cx="12" cy="17" r="2" fill="black"/>
    </svg> -->
    
  </div>
</div>
<div>
  <!-- <button mat-button [matMenuTriggerFor]="menu" #menuTrigger>Menu</button> -->
<mat-menu #menu="matMenu">
  <!-- <button mat-menu-item (click)="getstyle()">Choose Color</button> -->
  <mat-button-toggle-group   name="favoriteColor" aria-label="Favorite Color">
    <div   class="clor-button" *ngFor="let color of colors">
    <button mat-mini-fab [ngStyle]="{'background-color': color?.code}" [style.background]="color?.code" (click)="setColor(color.code,color.name)"></button>
  </div>
  </mat-button-toggle-group>
</mat-menu>
<mat-menu #more="matMenu">
  <!-- <button mat-menu-item (click)="getstyle()">Choose Color</button> -->
  <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color">
    
    <mat-button-toggle   (click)="Trash()" >trash</mat-button-toggle>
  
  </mat-button-toggle-group>
</mat-menu>
