<body>
    <div class ="container">
    <div class="form">
      <div class="inner-container">
      <div class ="form-body">
      <div class="logo-container">
     <img src="../../../assets/image/logo.png" alt="Fundooapp" class="logo">
    </div>
    <h3>Find your email</h3>
    <h4>Enter your phone number or recovery email</h4>
    </div>
    
    <div class="formfield">
      <form [formGroup]="Forgetform" >
        <mat-form-field class="text-area2" appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Placeholder" formControlName="email">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <!-- <mat-hint>Enter your email</mat-hint> -->
          <mat-error>Enter correct Password!</mat-error>
        </mat-form-field>

      </form>
    </div>
      <div class="example-button-row">
        <button mat-button color="primary" routerLink="/registration">try another way</button>
        <button mat-flat-button color="primary" type="submit" (click)="next()" routerLink="/reset-password">Next</button>
    </div>
    </div>
    </div>
    </div>
    </body>
