.display-container{
padding-left:50px;
//position: relative;
}
.note{
  display :flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items:flex-start;
  white-space: pre-wrap;
  overflow: hidden !important;
  max-height: 400vh; 
  max-width: 1300px !important;
  
 

}
  


.notelist{
 padding-bottom: 15px;
 padding-right: 15px;
 
}
.note-card {

    width: 238px;
  min-height: 101px;

    display: inline-block;
    //margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   // transition: all 0.2s ease;
 
    
}


    
      
    @media screen and (max-width: 712px) {
      .pinit{
        
        padding-left: 200px;
      }
    }
    @media screen and (max-width: 585px) {
      .pinit{
        
        padding-left: 80px;
      }
    }
    @media screen and (max-width: 441px) {
      .pinit{
        
        padding-left: 1px;
      }
    }

 

  @media screen and (max-width: 712px) {
    .note-card{
      
      width: 500px;
    }
  }
  @media screen and (max-width: 585px) {
    .note-card{
      
      width: 366px;
    }
  }
  @media screen and (max-width: 441px) {
    .note-card{
      
      width: 295px;
    }
  }
  .card{
    background-color:#FAFAFA;
  }
  .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .left-side{
    display: flex;
    flex-direction: row;
   flex:1;
    justify-content:left;
   // width: 100%;
  }
  .dialogbox{
    border-radius: 12px;
    width: '752px';
    height:'142px';
  }
 .notetitleshow {
  //width: 250px;
  white-space: nowrap;
  overflow:hidden; 
  text-overflow:ellipsis;
  min-height:13px ;
  min-width:195px;
  max-width:195px;
  max-height:35px;
  }
  .note-description{
    white-space:normal;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height:20px ;
  min-width:202px;
  max-width:202px;
  max-height:550px;
  }
  // .right-side{
  //   display: flex;
  //   flex-direction: row;
   
  //   justify-content:space-evenly;
   
  // }

  
  .note-card.hover-effect:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .note-title {
    width: 98%;
    font-weight: 400;
    border: none;
    outline: none;
    font-size: 18px;
  }
  
  .note-content {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .note-content:focus, .note-title:focus {
    outline: none;
  //  justify-content: end;
  }
  .title{
    display:flex;
    flex-direction: row;
    //justify-content: end;
  }
  // .footer{
  // //padding-bottom: 5px;
  // //padding-top: 0px;

  // }
  /* your-component.component.css */
.content {
  background-color: lightgray;
 // padding: 20px;
  transition: opacity 0.3s; /* Add a transition for smooth opacity changes */
}
.card:hover .pinit{
  opacity: 1.0;
}
.pinit:not(:hover){
  opacity: 0.0; 
}
.card:hover .ic-hover  {
  opacity: 1.0;
}
.ic-hover:not(:hover){
  opacity: 0.0; 
}

.content:not(:hover) {
  opacity: 0.6; /* Adjust the opacity value as needed */
}
