.display-container{
padding-left:50px;
}
.note{
  display :flex;
  flex-direction: row;
  flex-wrap: wrap;


 

}
.notelist{
 padding-bottom: 15px;
 padding-right: 15px;

}
.note-card {
    width: 300px;
    display: inline-block;
    //margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}
    
      
    @media screen and (max-width: 712px) {
      .pinit{
        
        padding-left: 200px;
      }
    }
    @media screen and (max-width: 585px) {
      .pinit{
        
        padding-left: 80px;
      }
    }
    @media screen and (max-width: 441px) {
      .pinit{
        
        padding-left: 1px;
      }
    }

 

  @media screen and (max-width: 712px) {
    .note-card{
      
      width: 500px;
    }
  }
  @media screen and (max-width: 585px) {
    .note-card{
      
      width: 366px;
    }
  }
  @media screen and (max-width: 441px) {
    .note-card{
      
      width: 295px;
    }
  }
  .card{
    background-color:#FAFAFA;
  }
  .title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .left-side{
    display: flex;
    flex-direction: row;
   flex:1;
    justify-content:left;
   // width: 100%;
  }
  .dialogbox{
    border-radius: 12px;
    width: '752px';
    height:'142px';
  }
 .notetitleshow {
  width: 250px;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  min-height:10px ;
  min-width:238px;
  max-width:238px;
  max-height:35px;
  }
  .note-description{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-height:20px ;
  min-width:238px;
  max-width:238px;
  max-height:48px;
  }
  // .right-side{
  //   display: flex;
  //   flex-direction: row;
   
  //   justify-content:space-evenly;
   
  // }

  
  .note-card.hover-effect:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .note-title {
    width: 98%;
    font-weight: 400;
    border: none;
    outline: none;
    font-size: 18px;
  }
  
  .note-content {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    line-height: 1.5;
  }
  
  .note-content:focus, .note-title:focus {
    outline: none;
  //  justify-content: end;
  }
  .title{
    display:flex;
    flex-direction: row;
    //justify-content: end;
  }
  .footer{
  padding-bottom: 5px;
  padding-top: 5px;

  }
  /* your-component.component.css */
.content {
  background-color: lightgray;
  padding: 20px;
  transition: opacity 0.3s; /* Add a transition for smooth opacity changes */
}

.content:hover {
  opacity: 1;
}

.content:not(:hover) {
  opacity: 0.6; /* Adjust the opacity value as needed */
}
