
<div class ="container">
<div class="form">
  <div class="inner-container">

  <div class ="form-body">
 <img src="../../../assets/image/logo.png" alt="Fundooapp">
<h3>Sign In</h3>
<h4> Enter your Login Details</h4>
</div>
<div class="formfield">
<p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>
  <a href="#">use your current email instead </a>
</div>
  <div class="example-button-row">
    <button mat-flat-button color="primary">LogIn</button>
</div>
</div>
</div>
</div>