.container{
    display: flex;
 justify-content: center;
 align-items: center;
 
 
    }
 //    border: 1px solid green;
 .form
 {
 border: 5px solid rgb(78, 188, 231);
 width: 60vw;
 height: auto;
 display: flex;
 justify-content: center;
 border-radius: 5%;
 

 }

//  #container {
//    width: 500px;
//    border: solid 1px #000;
//    display: -webkit-flex;
//    display: -ms-flexbox;
//    display: flex;
//  }
//  #a {
//    width: 20%;
//    border: solid 1px #000;
//  }
//  #b {
//    width: 20%;
//    border: solid 1px #000;
//    height: 200px;
//  }
 .left-container{
   flex:1.5;
   // display: block;
   // justify-content:left;
   // border: 1px solid green;

 }
 right-container{
   flex: .5;
   // display: block;
   // justify-content:right;
//border: 1px solid red;

 }
 .image{
display: flex;
flex-direction: column;
padding-top: 180px;

 }

 img{
    height: 80%;
    width: 80%;
 }
 
 .inner-container{
     // border: 1px solid red;
     margin: 2%;
 }
 
 .text-area{
    //border: 1px solid yellow;
    width :80%;
    justify-content: center;
    justify-content: space-between;
 }
 .text-area2{
    width :90%;
 }
 .form-body{
 //border: 1px solid black;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 }
 
 .formfield-a{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    width :fit-content;

     // line-height: 10%;
 }
 .formfield-b{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    width :auto;

 }
 
 .example-button-row{
     display: flex;
     flex-direction: row ;
     justify-content:space-evenly ;
     
 }
     
 
 h4{
     
     font-size: 20px;
     text-align: left;
     justify-content: left;
   

 }
     
 // h1{
 //     font-size:x-large;
 //     text-align: center;
     
 // }