<body>
<div class ="container">
    <div class="form">
      <div class="inner-container">
      <div class="left-container">
      <div class ="form-body">
        <div class="logo-container">
     <img src="../../../assets/image/logo.png"  alt="Fundooapp" class=logo>
    <!-- <h3>Fundoo</h3> -->
  </div>
    <h4>Create Your Fundoo Account</h4>
    </div>
    <form [formGroup]="registerForm" >
    <div class="formfield-a">
    <div class="textfield-a">
        <mat-form-field class="text-area"  appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="Placeholder" formControlName="firstname">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-error>Enter Correct FirstName!</mat-error>
        </mat-form-field>
      </div>

      <div class="textfield-b">
        <mat-form-field class="text-area" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Placeholder" formControlName="lastname">
          <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
          <mat-error>Enter Correct LastName!</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="formfield-b">
    <div class="formfield-c">
            <mat-form-field class="text-area2" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Placeholder" formControlName="email">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <mat-error>Enter correct Details!</mat-error>
              <!-- <mat-hint class="email-ref"><a href="#">use your current email instead </a></mat-hint> -->
            </mat-form-field>
        </div>
        <mat-hint class="email-ref"><a href="#">use your current email instead </a></mat-hint>
      </div>
        <div class="formfield-a">
          <div class="textfield-p">

            <mat-form-field class="text-area" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Placeholder" formControlName="password" [type]=" showPassword ? 'text' : 'password' " >
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <mat-hint  class="pass-ref">Password should 8 character. </mat-hint>
              <mat-error>Enter correct Password!</mat-error>

            </mat-form-field>
          </div>
          <div class="textfield-s">

            <mat-form-field class="text-area" appearance="outline">
              <mat-label>Confirm</mat-label>
              <input matInput placeholder="Placeholder" formControlName="confirmpassword" [type]=" showPassword ? 'text' : 'password' " >
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
             <mat-hint  class="pass-ref">Password must be Same</mat-hint>
             <mat-error>Enter correct Password!</mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="showpass">
          <mat-checkbox class="example-margin"  (click)='showHidePassword()'> {{ showPassword ? 'Hide' : 'Show' }} Password </mat-checkbox>
        </div>
      </form>
      </div>
  
        
      <div class="example-button-row">
        <button mat-button color="primary" routerLink="/login">Sign in Instead</button>
        <button mat-flat-button color="primary" type="submit" (click)="signup()">Next</button>
    </div>
   
    </div>
    <div class="right-container"> 
      <div class="image">
      <img src="https://vickeryhill.com/wp-content/uploads/2022/06/google-one-account.jpg" alt="oneaccount">
      <p>One Account. All of Google working for you.</p>
    </div>
  </div>
    </div>
    </div>
  </body>
